
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Covoiturage pour les Étudiants IFRI</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body class="body-custom">
    <div class="container-custom">
        <h1 class="h1-custom">
            Bienvenue sur IFRI Covoiturage !
        </h1>
        <p class="p-custom">
            Facilitez vos déplacements vers l'IFRI !<br>
            Rejoignez notre communauté de covoiturage dédiée aux étudiants.<br>
            Économisez de l'argent, créez des liens et contribuez à un avenir plus durable.
        </p>
        <div class="buttons-container-custom">
            <a href="login.html" class="cta-btn-custom blue-btn-custom">
                Se connecter
            </a>
            <a href="register.html" class="cta-btn-custom green-btn-custom">
                S'inscrire
            </a>
        </div>
        
        <div class="features-custom">
            <h2 class="h2-custom">Nos Avantages</h2>
            <ul class="ul-custom">
                <li class="li-custom">
                    <span class="icon-custom">💰</span> Économies sur les frais de transport
                </li>
                <li class="li-custom">
                    <span class="icon-custom">🤝</span> Rencontres avec d'autres étudiants
                </li>
                <li class="li-custom">
                    <span class="icon-custom">🌱</span> Impact positif sur l'environnement
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
