<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Covoiturage</title>
    <link rel="stylesheet" href="../../static/css/offers.css">
</head>
<body>
    <div class="conteneur">
        <div class="barre-laterale">
            <div class="section-profil">
                <div class="conteneur-image-profil">
                    <img src="../../static/css/images/defaut_profile.png" alt="Photo de profil" class="image-profil">
                </div>
                <h3>Mon Espace</h3>
            </div>
            <div class="menu-navigation">
                <a href="#" class="menu-item"><i class="fas fa-user"></i> Login</a>
                <a href="#" class="menu-item"><i class="fas fa-clock"></i> Gestion Trajet</a>
                <a href="#" class="menu-item"><i class="fas fa-calendar"></i> Calendrier</a>
                <a href="#" class="menu-item"><i class="fas fa-car"></i> Mes Trajets</a>
                <a href="#" class="menu-item"><i class="fas fa-cog"></i> Paramètres</a>
                <a href="#" class="menu-item"><i class="fas fa-user-friends"></i> Passagers</a>
            </div>
            <button class="bouton-principal">Lancer Trajet</button>
    </div>

    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <script src="../../static/js/offers.js"></script>
</body>
</html>
