<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récupération de Mot de Passe - Covoiturage IFRI</title>
    <link rel="stylesheet" href="../../static/css/password-reset.css">
</head>
<body class="recovery-body">
    <div class="recovery-container">
        <h1 class="recovery-title">
            Récupération de Mot de Passe
        </h1>
        <p class="recovery-description">
            Veuillez entrer votre adresse email. Un code de réinitialisation de mot de passe vous sera envoyé.
        </p>
        <form method="POST"  action="{% url 'password_reset_verify' %}" class="recovery-form">
            
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_email" class="block text-gray-700 text-sm font-bold mb-2">Votre adresse Email</label>
                    <input type="email" name="email" autocomplete="email" max="254" required id="id_email" class="shadow appearance-none borderrounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow_outline">
                </div>
            
            <button type="submit" class="recovery-button">
                Envoyer le code de réinitialisation
            </button>
        </form>
        <p class="back-to-login">
            <a href="{% url 'connexion' %}" class="back-to-login-anchor">
                Retour à la page de connexion
            </a>
        </p>
    </div>
</body>
</html>
