<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification du Code - Covoiturage IFRI</title>
    <link rel="stylesheet" href="../../../static/css/password_reset_phase1.css">
</head>
<body class="corps">
    <div class="conteneur-recuperation">
        <h1 class="titre-recuperation">
            Vérifiez votre Boîte Mail
        </h1>
        <p class="description-recuperation">
            Un code à 6 chiffres a été envoyé à votre adresse email. Veuillez le saisir ci-dessous
        </p>
        <form action="{% url 'password_reset_verify' %}" method="POST" class="formulaire-verification">
            <div class="groupe-champ">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="bouton-verification">
                Vérifier
            </button>
        </form>
        <div class="renvoi-code">
            <a href="#" id="lien-renvoi">Renvoyer le code</a>
        </div>
        <p class="retour-connexion">
            <a href="{% url 'connexion' %}" class="lien-retour">
                Retour à la page de connexion
            </a>
        </p>
    </div>
</body>
</html>
