<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe réinitialisé avec succès</title>
    <link rel="stylesheet" href="../../static/css/password_reset_phase3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="imgsuccess"></div>
    <div class="textsuccess">
        <h1>Mot de passe réinitialisé avec succès</h1>
        <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
        <a href="login.html">Se connecter</a>
    </div>
    
</body>
</html>
